<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 自动匹配Action-->
	<bean id="autoCompleteAction" class="com.pemng.serviceSystem.autocomplete.actions.AutoCompleteAction" scope="prototype">
		<property name="autoCompleteService" ref="autoCompleteService"/>
	</bean>
	
	<!-- 自动匹配Service-->
	<bean id="autoCompleteService" class="com.pemng.serviceSystem.autocomplete.services.impl.AutoCompleteServiceImpl">
		<property name="autoCompleteDao" ref="autoCompleteDao" />
	</bean> 
	
	<!-- 自动匹配Dao -->
	<bean id="autoCompleteDao" class="com.pemng.serviceSystem.autocomplete.dao.impl.AutoCompleteDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
	
</beans>
